<div class="ui container">
  <div class="ui segment">
    <h2 class="ui header centered">Nosotros</h2>

    <br>
    <div class="ui grid">
      <div class="four wide column">
        <img src="/assets/inicio/kulqui.png" class="ui fluid image">
      </div>
      <div class="eight wide column">
        <h3 class="ui centered header">Remitimos nuestra carta de presentación</h3>
        <p class="text">
          Nos dirigimos a Usted para presentarnos como “KULQUI”, una tienda virtual que transmite y revalora la riqueza cultural a
          través de objetos deco-utilitarios, los cuales transmiten cultura a través de códigos QR, la que muestra toda la
          información del objeto, nos ponemos a su disposición.
        </p>
        <p class="text">
          Nuestra amplia gama de productos está respaldada por nuestro personal altamente calificado y experimentado, así como nuestras
          alianzas con proveedores y marcas nos hacen una excelente opción.
        </p>
        <h3 class="ui header centered">Mision</h3>
        <p class="text">
          Transmitimos y revaloramos la riqueza cultural, promoviendo la identidad local con materiales y artesanías propios de la
          zona, como la cosmovisión de nuestros pueblos a través de objetos deco-utilitarios dirigidos a turistas nacionales
          y extranjeros a través del objeto y el código QR.
        </p>
        <h3 class="ui header centered">Vision</h3>
        <p class="text">
          Al 2022, ser conocidos como una tienda virtual que transmite y revalora la riqueza cultural de nuestro país.
        </p>
        <br>
      </div>
      <div class="four wide column">
        <img src="/assets/inicio/productos.png" class="ui fluid image">
      </div>
    </div>
  </div>
</div>