<div class="ui left fixed vertical inverted sidebar labeled icon menu" *ngIf="isAdmin">
  <a class="item" [routerLink]="['tienda/login']">
    Xil Breks
  </a>
  <a class="item" *ngFor="let menu of menus" [class.active]="currentMenu==menu" [routerLink]="[menu.path+'/'+menu.submenus[0].path]" (click)="changeRoute(menu.path,menu.submenus[0].path,menu)">
    <i class="{{menu.icon}} icon"></i>
    {{menu.label}}
  </a>
</div>

<div class="pusher">
  <div class="ui secondary right pointing menu" >
    <a class="item" (click)="openSidebar()" *ngIf="isAdmin">
      <i class="sidebar large icon"></i>
      Menu
    </a>
    <a class="item" [routerLink]="['tienda/home']">
      <i class="red xing large icon"></i>
      Kulqui
    </a>
    <a class="item" *ngIf="items>0">
        <div class="ui left labeled button" tabindex="0" [routerLink]="['/tienda/mybag']">
          <a class="ui basic right pointing label">
            {{items}}
          </a>
          <div class="ui circular button" >
            <i class="teal shopping bag icon"></i>    
          </div>
        </div>
      </a>
    <div class="right menu">
      <a class="item" *ngFor="let submenu of currentMenu.submenus" [routerLink]="[currentMenu.path+'/'+submenu.path]">
        {{submenu.label}}
      </a>
      <a class="item" [routerLink]="['tienda/login']" *ngIf="!isLogged">
        <i class="blue sign in large icon"></i>
        Ingresar
      </a>
      <a class="item" [routerLink]="['tienda/chat']" *ngIf="isLogged && !isAdmin">
        Chat
      </a>
      <a class="item" [routerLink]="['tienda/login']" *ngIf="isLogged">
        <i class="blue user large icon"></i>
        XilBreks
      </a>
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
